{
  "env": {
    "test": {
      "presets": ["es2015-loose"],
      "plugins": [
         "flow-comments",
         "rewire",
         "transform-class-properties"
       ]
    }
  },
  "presets": [
    "es2015"
  ],
  "plugins": [
    "flow-comments",
    "transform-class-properties"
  ]
}
